@font-face {
    font-family: 'Sans';
    src: local('PT_Sans-Web-Regular.ttf'),
    url(./Fonts/PT_Sans-Web-Regular.ttf);
}
*{
    font-family: Sans, sans-serif;
    scroll-behavior: smooth;
    object-fit: cover;
}

.App{

}
.main-pages{
}

.page1-container{
    width: 97vw;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: url("./img/background1.jpg") no-repeat;
    background-size: cover;
}
.logo{
    position: absolute;
    top: 1vh;
    left: -0.5vw;
    width: 10vw;
    height: 10vh;
}

.backstage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.backstage{
    display: none;
}

.backstage1{
    background: #F06446;
    animation: load 1s ease forwards;
}

.backstage2{
    background: #F06446;
    animation: load 1.4s  ease forwards;
}

.backstage3{
    background: #F06446;
    animation: load 1.8s  ease forwards;
}

.title-container{
    justify-self: flex-end;
    align-self: flex-end;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.title{
    position: relative;
    display: inline-block;
    line-height: 1.3;
    font-weight: 200;
    white-space: nowrap;
    font-size: 13vw;
    color: white;
    opacity: 0;
}

.title1{
    animation: 1s 3s anim-lineUp ease-out forwards;
}
.title2{
    animation: 1s 3.04s anim-lineUp ease-out forwards;
}

.title3{
    animation: 1s 3.06s anim-lineUp ease-out forwards;
}
.title4{
    animation: 1s 3.08s anim-lineUp ease-out forwards;
}

.title5{
    animation: 1s 3.12s anim-lineUp ease-out forwards;
}
.title6{
    animation: 1s 3.16s anim-lineUp ease-out forwards;
}
.title7{
    animation: 1s 3.20s anim-lineUp ease-out forwards;
}
.title8{
    animation: 1s 3.24s anim-lineUp ease-out forwards;
}
.title9{
    animation: 1s 3.28s  anim-lineUp ease-out forwards;
}
.title10{
    animation: 1s 3.32s anim-lineUp ease-out forwards;
}
.title11{
    animation: 1s 3.36s anim-lineUp ease-out forwards;
}
.title12{
    animation: 1s 3.40s anim-lineUp ease-out forwards;
}
.title13{
    animation: 1s 3.44s anim-lineUp ease-out forwards;
}
.title14{
    animation: 1s 3.48s anim-lineUp ease-out forwards;
}
.title15{
    animation: 1s 3.52s anim-lineUp ease-out forwards;
}

.subtitle-box{
    height: 15vh;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    align-self: start;
    justify-self: flex-end;
    padding-right: 5vw;
}

.subtitle-container{
    opacity: 0;
    font-weight: 200;
    font-size: 18px;
    overflow: hidden;
    display: block;
    text-align: start;
    position: relative;
    animation: 1s  4s ab-lineUp ease-out forwards;
}
.subtitle{
    font-size: 35px;
    display: block;
    text-align: start;
    position: relative;
    translate: none;
    rotate: none;
    scale: none;
    white-space: nowrap;
    color: white;
}

.header-container{
    border-left: 1px solid rgba(0, 0, 0, 0.37);
    width: 3vw;
    background: white;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.page2-container{
    display: flex;

}
.page2-content-container{
    height: 100vh;
    position: relative;
    left: 40vw;
    border-left: 1px #c0c0c0 solid;
    border-right: 1px #c0c0c0 solid;
}
.page2-content-box{
    box-sizing: border-box;
    padding-top: 5vh;
    display: flex;
    margin-left: 3vw;
    padding-right: 3vw;
}

.page2-box1{

    width: 40vw;
    height: 9vh;
    margin-top: 3vh;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.page2-head-title{
    font-size: 20px;
    font-weight: 600;
}

.page2-image-container{
    position: absolute;
    top: 5vh;
    left: 30vw;
}
.page2-image{
    width: 10vw;
    height: 30vh;
}

.text-box{
    position: absolute;
    top: 80vh;
}
.page2-subtitle{
    font-weight: 600;
    font-size: 45px;
}
.page2-title{
    font-size: 25px;
    margin-top: 2vh;
}
.page2-link-box{
    margin-top: 2vh;
}

.page2-link{
    text-decoration: none;
    color: black;
    font-family: "Agency FB", cursive;
}

.project-image{
    box-sizing: border-box;
    width: 40vw;
    height: 85vh;
}


.page2-project{
    padding-right: 1vw;
}

.Page2{
    width: 180vw;
}
.page3-container{
    height: 99vh;
    margin-left: -25vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.page3-image{
    width: 50vw;
    height: 100vh;
}
.page3-text-container{
    width: 50vw;
    height: 99vh;
}
.page3-text-box{
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page3-subtitle-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27vw;
}
.page3-subtitle{
    white-space: pre-line;
    font-size: 2vw;

}

.page3-text{
    font-size: 2rem;
    font-style: italic;
}

.page3-text2{
    margin-bottom: 3vw;
    font-size: 1rem;
    font-style: italic;
}

.page4-container{

    display: flex;
    height: 99vh;
    margin-left: -25vw;
}

.page4-text-container{

    color: white;
    padding-top: 1vh;
    width: 58vw;
    height: 99vh;
    background: #F06446;
    display: flex;
    flex-direction: column;
}
.page4-title-container{
    line-height: 1.1;
    font-weight: 500;
    width: 31.2vw;
    padding-left: 3vw;
    font-size: 3.2rem;
    white-space: pre-line;
}
.page4-link{
    color: white;
    font-size: 1rem;
    font-style: italic;
}
.page4-link:after{
    background-color: white;
}
.page4-link:hover:after{
    background-color: white;
}
.page4-subtitle-container{
    padding-top: 25vh;
    padding-left: 3vw;

}
.page4-subtitle{
    font-weight: 100;
    font-size: 13vw;
}

.page4-content-container{
    margin-top: 4vh;
    position: absolute;
    width: 100vw;

    height: 100vh;
    margin-left: 61vw;
    display: flex;
}
.page4-img1{
    width: 36.2vw;
    height: 87vh;
}
.page4-img2{
    height: 38vh;
    width: 36vw;
}
.page4-horizontal-content{
    display: flex;
    flex-direction: column;
}
.page4-img3{
    margin-top: 9vh;
    height: 38vh;
    width: 36vw;
}
.last-slide{
    display: none;
}







a {
    color: black;
    position: relative;
    cursor: pointer;
    text-decoration: none;

}
a:after {

    border: none;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.5s;
}
a:hover:before{

}

a:hover:after {
    border: none;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: black;
    transition: width 0.5s;
}
@keyframes load {
    0%{
        height: 100vh;
    }
    30% {height: 95vh}

    100% {height: 0}
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;

    }
}

@keyframes ab-lineUp {
     0% {
         opacity: 0;
         transform: translateY(80%);
     }
     20% {
         opacity: 0;
     }
     50% {
         opacity: 1;
         transform: translateY(0%);
     }
     100% {
         opacity: 1;

     }
 }

.slide{
    width: 130vw;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

